/*default version */
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.ttf");
  font-weight: regular;
  font-style: normal;
}

/*medium version */
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

/*Light version */
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Light.ttf");
  font-weight: light;
  font-style: normal;
}

/*Bold version */
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

/*Bold version */
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --family-font: "Manrope", sans-serif;
  --text-color: #333333;
  --secondary-color: #2cb1bc;
  --background: #ffffff;
  --button-background: #14919b;
  --footer-background: #333333;
  --card-title: #d9d5d4;
  --background-resume-item: #f6f2f1;
  --white: #ffffff;
  --logo: #000000;
  --navbar-shadow: hsla(228, 6%, 66%, 0.3);
  --background-hamburguer: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --border-hamburger: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
  --background: #222222;
  --text-color: #ffffff;
  --footer-background: #14919b;
  --background-resume-item: #303030;
  --card-title: #343434;
  --logo: #ffffff;
  --navbar-shadow: hsla(0, 0%, 19%, 0.5);
  --background-hamburguer: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --border-hamburger: rgba(255, 255, 255, 0.1);
}

html {
  overflow-x: hidden;
}

body {
  scroll-padding-top: 88px;
  font-family: var(--family-font);
  font-weight: 500;
  background: var(--background);
  font-weight: regular;
  overflow-x: hidden;

}

.text-blue {
  color: var(--secondary-color);
}

.link {
  color: var(--text-color);
  font-weight: 700;
  font-size: 0.9rem;
}
.link:hover {
  text-decoration: none;
  color: var(--text-color);
  opacity: 0.7;
}

@media screen and (min-width: 500px) {
  .link {
    font-size: 1.2rem;
  }
}

.section__title {
  font-size: 1.5rem;
  position: relative;
  color: var(--text-color);
}

.section__title::after {
  content: "";
  position: absolute;
  border-bottom: 4px solid var(--text-color);
  top: 0;
  height: 17px;
  width: 22px;
  margin-left: 0.2rem;
}

.section__title::after {
  margin-right: 15px;
}

/*Preloader*/

.preloader-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--white);
  transition: all 1s ease-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
}

.preloader-text {
  color: var(--secondary-color);
  letter-spacing: 0.7rem;
  margin-left: 1.8rem;
}

@media screen and (max-width: 768px) {
  .preloader-text {
    text-align: center;
  }
}
/*Preloader*/

/* Position Marker */
.position__marker {
  display: none;
}

@media screen and (min-width: 1250px) and (max-width: 1800px) {
  .position__marker {
    display: initial;
    position: fixed;
    top: 40%;
    left: 20px;
    z-index: 9999;
    transition: all 1s ease-in-out;
  }
}
/* Position Marker */

/* Navbar */
#mainNav {
  background: var(--background);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  font-family: var(--family-font);
  font-weight: 400;
  transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--text-color);
}

#mainNav .navbar-brand {
  transition: font-size 0.3s ease-in-out;
}

#navbarNav a {
  color: var(--text-color);
  transition: color 0.3s ease-in-out;
  position: relative;
  font-size: 0.9rem;
}

#navbarNav a:hover::after {
  content: "";
  position: absolute;
  border-bottom: 3px solid var(--secondary-color);
  width: 40%;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  bottom: 5.5px;
}

.nav-item {
  margin: 1rem 0.9rem;
  position: relative;
}

.nav-item::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background: var(--secondary-color);
  top: 50%;
  margin-top: -2px;
  right: -15px;
  z-index: 1;
  border-radius: 6px;
}

.nav-item:last-child::after {
  width: 0px;
  height: 0px;
}

#mainNav.navbar-shrink {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  background-color: var(--background);
  margin: 0 auto;
  box-shadow: 3px 1px 13px var(--navbar-shadow);
}

.navbar-brand path {
  fill: var(--logo);
}

.navbar-toggler {
  border-color: var(--border-hamburger) !important;
}

.navbar-toggler-icon {
  background-image: var(--background-hamburguer) !important;
}

@media screen and (max-width: 767px) {
  .nav-item::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: var(--secondary-color);
    top: initial;
    bottom: -10px;
    margin-top: -2px;
    z-index: 1;
    border-radius: 6px;
    left: 50%;
  }

  .nav-item:last-child::after {
    width: 6px;
    height: 6px;
  }
}

@media screen and (min-width: 992px) {
  #mainNav {
    background-color: transparent;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  }
  #mainNav .container-fluid {
    max-width: 1400px;
  }

  .nav-item {
    margin: 1rem 0.9rem;
  }
  .btn-navbar {
    margin-left: 1rem;
  }
}
/* Navbar*/

/* About */

#about .container-fluid {
  width: 100%;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  color: var(--text-color);
  position: relative;
}

#about h1 {
  font-weight: 700;
  font-size: 3rem;
}

.about__subtitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.about__text {
  line-height: 2;
  font-size: 1.3rem;
}

.about__social {
  margin: 1rem 0;
  font-size: 1.3rem;
  color: var(--text-color);
  transition: color 0.2s ease-in-out;
}

.behance:hover {
  color: #0057ff;
}

.twitter:hover {
  color: #1da1f2;
}

.instagram:hover {
  color: #c42289;
}
.dribble:hover {
  color: #e45189;
}

@media screen and (max-width: 500px) {
  #about h1 {
    font-size: 2.3rem;
  }

  .about__text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .about__social {
    margin: 0rem 0rem;
  }
}

@media screen and (max-width: 992px) {
  #about {
    padding-top: 88px;
  }
}
/* About */

/* Dark Mode Button */

/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 1rem;
  position: absolute;
  z-index: 99;
  right: 3%;
  top: 15%;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #cccccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #ffffff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--secondary-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 992px) {
  .theme-switch-wrapper {
    display: none;
  }
}

/* Dark Mode Button */

/* Portfolio */

#portfolio {
  max-width: 1440px;
  margin: 3rem auto 5rem auto;
}

.card__title {
  color: var(--card-title);
  font-size: 2.5rem;
  font-weight: 700;
  position: relative;
}

.card__title::after {
  content: "";
  border-bottom: 4px solid var(--card-title);
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.card__body {
  color: var(--text-color);
}

.card__body span p:first-child {
  position: relative;
}

.card__body span p:first-child::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background: var(--secondary-color);
  top: 50%;
  margin-top: -2px;
  right: -15px;
  z-index: 1;
  border-radius: 6px;
}

#portfolio .card__text h4 {
  font-size: 1.5rem;
  width: 100%;
}

#portfolio .card__text p {
  font-size: 1rem;
  width: 100%;
}

.card__image {
  width: 100%;
}

@media screen and (min-width: 500px) {
  #portfolio .card__text h4 {
    font-size: 2.5rem;
  }

  #portfolio .card__text p {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1200px) {
  #portfolio .card__text h4 {
    width: 75%;
  }

  #portfolio .card__text p {
    width: 75%;
  }

  #portfolio .card__body {
    padding-left: 7rem;
  }

  #portfolio .card__image {
    max-height: 476px;
  }
}
/* Portfolio */

/* Resume  */
#resume {
  max-width: 1440px;
  margin: 6rem auto;
}

.resume__title ul {
  list-style: none;
}

.resume__border {
  border-left: 5px solid var(--secondary-color);
}

.resume__title p {
  margin-bottom: 0.5rem;
}
.resume__item {
  background: var(--background-resume-item);
  padding: 1rem;
  border-left: 5px solid var(--secondary-color);
  border-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}

.resume__title {
  color: var(--text-color);
}

.resume__title h4 {
  font-size: 1.5rem;
  width: 100%;
}

.resume__career {
  font-size: 1.3rem;
  font-weight: bold;
}

.resume__university {
  font-weight: bold;
}

.resume__button {
  background-color: var(--button-background);
  flex: 1;
  margin-top: 6rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--button-background);
  transition: all 0.3s ease-in-out;
}

.resume__button-text {
  position: absolute;
  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);
  /*all */
  transform: rotate(-90deg);
  color: var(--white) !important;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}

.resume__button:hover {
  background-color: transparent;
  text-decoration: none;
}

.resume__button:hover .resume__button-text {
  color: var(--button-background) !important;
}

@media screen and (max-width: 992px) {
  .resume__button {
    border-radius: 10px;
    background-color: var(--button-background);
    flex: 1;
    margin-top: 2rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
  }

  .resume__button-text {
    position: initial;
    /* Safari */
    -webkit-transform: rotate(0deg);

    /* Firefox */
    -moz-transform: rotate(0deg);

    /* IE */
    -ms-transform: rotate(0deg);

    /* Opera */
    -o-transform: rotate(0deg);
    /*all */
    transform: rotate(0deg);
    color: white !important;

    white-space: nowrap;
  }
}

@media screen and (min-width: 500px) {
  .resume__title h4 {
    font-size: 2.5rem;
  }
}

/* Resume  */

/* Contact */
#contact {
  color: #000000;
  max-width: 1440px;
  margin: 0rem auto 5rem auto;
}

#contact p {
  margin-bottom: 0;
}

.contact__subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color);
}

.contact__text {
  font-size: 1rem;
  color: var(--text-color);
}

#contact ul {
  list-style-type: none;
}

.contact__items {
  background: var(--background-resume-item);
  color: var(--text-color);
}

.contact__items-number {
  font-size: 1.1rem;
  font-weight: bold;
  padding-left: 0.4rem;
}

.contact__items-text {
  font-size: 0.8rem;
  padding-left: 0.1rem;
  border-left: 5px solid var(--secondary-color);
  border-bottom-left-radius: 7px;
  font-weight: 600;
}

.contact__items2 {
  background: var(--background-resume-item);
  padding: 1rem;
  border-bottom: 5px solid var(--secondary-color);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  color: var(--text-color);
}

.contact__items2-title {
  font-size: 1rem;
}

.contact__items2-text {
  font-size: 1.5rem;
  font-weight: bold;
}

@media screen and (min-width: 500px) {
  .contact__subtitle {
    font-size: 2.5rem;
  }

  .contact__text {
    font-size: 1.5rem;
  }

  .contact__items {
    padding: 1rem 1rem 0rem 0rem;
  }

  .contact__items-number {
    font-size: 2.1rem;
    font-weight: bold;
    padding-left: 1.5rem;
  }

  .contact__items-text {
    font-size: 1.1rem;
    padding-left: 1rem;
  }
}

/* Contact */

/* Footer */
#footer {
  background-color: var(--footer-background);
  color: var(--white);
  padding: 1rem 0;
  margin: 2rem auto 0 auto;
  overflow: hidden;
}

.footer__name {
  font-size: 1.2rem;
}

.footer__icons a {
  color: var(--white);
  font-size: 1.5rem;
}

.footer__up {
  color: var(--white) !important;
}

.footer__up svg {
  background: var(--white);
  border: 2px solid var(--white);
  padding: 0.5rem;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.footer__up:hover {
  text-decoration: none;
}
.footer__up:hover svg {
  background: var(--footer-background);
}

.footer__up:hover svg path {
  stroke: var(--white);
}

/* Footer */
